[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-debug-toolbar = "*"
python-decouple = "*"
mysqlclient = "*"
pillow = "*"
drf-nested-routers = "*"
djoser = "*"

[dev-packages]

[requires]
python_version = "3.9"
